[Unit]
Description=AirVideoServer HD Container
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=no
RestartSec=60s
Type=simple
NotifyAccess=all
ExecStart=-/usr/bin/docker-airvideoserver-hd
ExecStop=/usr/bin/docker stop airvideoserver-hd
 
[Install]
WantedBy=multi-user.target
